body{
        margin-left:0;
        margin-right:0;
        margin-top:80px;
        padding-left:96px;
        padding-right:24px;
        padding-bottom:50px;
        background-color:rgba(248,248,248);
      }
        .search{
            flex:1;
            height:36px;
            padding-left:10px;
            font-size:16px;
            border:1px solid rgb(192,192,192);
            border-radius:2px;
            box-shadow:inset 1px 2px 3px rgba(0,0,0,0.05);
            width:0;
        }
        .search::placeholder{
          font-family:Arial;
          font-size:16px;
        }
        p{
            margin-top:0;
            margin-bottom:0;
            font-family:Roboto,Arial;
        }
      .main-image{
        width:100%;
      }
      .profile{
        width:100%;
        border-radius:50px;

      }
      .profile-picture{
       width:36px;
       display:grid;
       grid-template-columns:40px 1fr;
       
       
      }
      .title{
        line-height:20px;
        font-family:Arial;
        font-weight:500;
        margin-top:0;
        margin-bottom:10px;
        font-size:14px;
      }
      .author{
     
        color:rgb(96,96,96);
        font-size:12px;
      }
      .views{
        color:rgb(96,96,96);
        font-size:12px;
      }
      .image-row{
        margin-bottom:8px;
        position:relative;
      }
      .video-time{
        position:absolute;
        bottom:8px;
        right:8px;
        background-color:black;
        color:white;
        font-size:12px;
        font-family:Arial;
        padding-top:4px;
        padding-bottom:4px;
        padding-left:2px;
        padding-right:2px;
        border-radius:2px;

        
      }
      .video-info-grid{
        display:grid;
        grid-template-columns:50px 1fr;
      }
      .video-grid{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        column-gap:16px;
        row-gap:40px;
      }
      @media(max-width: 1000px){
        .video-grid{
          grid-template-columns:1fr 1fr;
        }
      }
      @media (min-width:1000px) and (max-width:1100px){
        .video-grid{
          grid-template-columns:1fr 1fr 1fr;
        }
      }
      @media(min-width: 1100px){
        .video-grid{
          grid-template-columns:1fr 1fr 1fr 1fr;
        }
      }
      .header{
        display:flex;
        height:55px;
        flex:1;
        justify-content:space-between;
        position:fixed;
        top:0;
        left:0;
        right:0;
        background-color:white;
        border-bottom-width: 1px;
        border-bottom-style:solid;
        border-bottom-color:rgb(228,228,228) ;
        z-index:100;
      }
      .left-section{
        display:flex;
        align-items:center;
      }
      .hamburger-menu{
        height:24px;
        margin-left:24px;
        margin-right:24px;
      }
      .youtube-logo{
        height:20px;
      }
      .middle-section{
        display:flex;
        flex:1;
        margin-left:70px;
        margin-right:35px;
        max-width:500px;
        align-items:center;
      }
      .search-button{
        height:40px;
        width:66px;
        background-color:rgb(240,240,240);
        border-width:1px;
        border-style:solid;
        border-color:rgb(192,192,192);
        margin-left: -1px;
        margin-right:10px;
      
       
      }
      .search-button,
      .voice-search-button,
      .camera-container,
      .youtube-apps-container,
      .notification-container{
        font-family:Arial;
        position:relative;
        display:flex;
        justify-content: center;
        align-items:center;
      }
      .search-button  .tooltip,
      .voice-search-button .tooltip,
      .camera-container .tooltip,
      .youtube-apps-container .tooltip,
      .notification-container .tooltip{
           position:absolute;
           background-color:grey;
           color:white;
           padding-top:4px;
           padding-bottom:4px;
           padding-left:8px;
           padding-right:8px;
           border-radius:2px;
           font-size:12px;
           bottom:-30px;
           opacity:0;
           transition: opacity 0.15s;
           pointer-events:none;
           white-space:nowrap;
      }
      .search-button:hover .tooltip,
      .voice-search-button:hover .tooltip,
      .camera-container:hover .tooltip,
      .youtube-apps-container:hover .tooltip,
      .notification-container:hover .tooltip{
        opacity:1;
      }
      .voice-search-button{
        height:40px;
        width:40px;
        border-radius:20px;
        background-color:rgb(245,245,245);
        border:none;
      }
      .search-image{
        height:25px;
    
        
      }
      .voice-search-icon{
        height:24px;
        
        
      }
      .right-section{
        width:180px;
        margin-right:25px;
        display:flex;
        align-items:center;
        justify-content:space-between;
        flex-shrink:0;
      }
      .camera{
        height:24px;
        
      }
      .youtube-apps{
        height:24px;
     
      }
      .notifications{
        height:24px;
        position:relative;
      
      }
      .notification-time{
        position:absolute;
        top:0;
        left:250px;
      }
      .channel{
        height:32px;
        border-radius:12px;
      }
      .side-bar{
        position:fixed;
        top:55px;
        bottom:0;
        left:0;
        width:72px;
        background-color:white;
        padding-top:5px;
      }
      .sidebar-link{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        height:74px;
        cursor:pointer;
      }
      .sidebar-link:hover{
        background-color:rgb(235,235,235);
      }
      .sidebar-link img{
        height:24px;
        margin-bottom:4px;
      }
      .sidebar-link div{
        font-family:Arial;
        font-size:10px;
      }
      .notification-container{
        position:relative;
      }
      .notification-number{
        position:absolute;
        top:-2px;
        right:-5px;
        background-color:rgb(196, 18, 18);
        color:white;
        font-family:Arial;
        font-size:11px;
        border-radius:10px;
        padding-left:6px;
        padding-right:6px;
        padding-top:2px;
        padding-bottom:2px;
      }